streamlit
newspaper3k
nltk
transformers==4.35.2
datasets
requests
torch==2.0.0
tensorflow==2.13.0
keras==2.13.1
pandas
numpy
protobuf==3.20.0
jinja2>=3.0
beautifulsoup4
urllib3
pillow
lxml[html_clean]
